
<svg viewBox="0 0 400 400" onload="makeDraggable(evt)">

  <style>
    .small {
      font: italic 13px sans-serif;
    }

    .graph {
      cursor: move;
    }

    .graph:active {
      fill: red;
    }

  </style>

  <g class="graph draggable-group">
    <rect x="0" y="0" width="350" height="50" fill="lightgrey" />
    <text x="20" y="25" class="small">One</text>
  </g>
  <g class="graph draggable-group">
    <rect x="0" y="60" width="350" height="50" fill="lightgrey" />
    <text x="20" y="85" class="small">Two</text>
  </g>
  <g class="graph draggable-group">
    <rect x="0" y="120" width="350" height="50" fill="lightgrey" />
    <text x="20" y="145" class="small">Three</text>
  </g>


</svg>
